 @font-face {
  font-family: "NanumSquare Neo";
  font-weight: 400;
  src: url('./assets/font/NanumSquareNeo-bRg.ttf') format("ttf");
}

@font-face {
  font-family: "NanumSquare Neo";
  font-weight: 700;
  src: url("./assets/font/NanumSquareNeo-cBd.ttf") format("ttf");
}

@font-face {
  font-family: "NanumSquare Neo";
  font-weight: 800;
  src: url("./assets/font/NanumSquareNeo-dEb.ttf") format("ttf");
}
